*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: lightblue;
    display: flex;
    justify-items: center;
    align-items: center;
    min-height: 100vh;

}
.container{
    position:relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0,0,1);
    justify-items: center;
    float: right;
    
    
    
}

.container .left{

    position: relative;
    background: #003147;
    padding: 40px;
   

}
.profile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,.2);
}
.profile .image{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profile .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;

}
.profile h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profile h2 span{
    font-size: 0.8em;
    font-weight: 300;
}
.contactInfo{
    padding-top: 40px;
    
}
.title{
    color: #fff;
    text-transform: uppercase;
    font-weight:600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.contactInfo ul{
    position: relative;

}
.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;

}
.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}
.contactInfo ul li span{
    color: #fff;
    font-weight: 300;

}
.contactInfo_education li{

    margin: 10px 0;
    color: #003147;
    

}
.contactInfo_education li h5{
    color: #03a9f4;
    letter-spacing: 0.5px;
}
.contactInfo_education li h4:nth-child(2){
    color: #fff;
    font-weight: 300;
}

.contactInfo_education li h4{
    color: #fff;
    font-weight: 100;
}
.contactInfo_language ul{
    color: #fff;

}

.contactInfo_language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #000608;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.contactInfo_language .percent div{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    background:#03a9f4;
}
.container .right{

    position: relative;
    background: #fff;
    padding: 40px;
}
.about{
    margin-bottom: 50px;
}
.about:last-child{
    margin-bottom: 0;
}

.title2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 20px;
}
p{
    color: #333;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.about_skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;

}
.about_skills .box h4{
    color:#848c99;
    font-weight: 500;

}
.box .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #8da7af;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.box .percent div{
    position: absolute;
    top:0;
    height: 100%;
    background:#03a9f4; 
}
.interest ul{
    display: grid;
    grid-template-rows: repeat(1fr,5);
    letter-spacing: 1px;

}
.interest ul li{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px,0;
    
}
.interest ul li .fa{
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
    margin: 10px;
}
